{
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "semi": false,
  "importOrder": [
    "^reflect",
    "^electron",
    "^react",
    "<THIRD_PARTY_MODULES>",
    "^@main",
    "^@renderer",
    "^~.+$",
    "^\\..+$"
  ],
  "importOrderSeparation": true,
  "importOrderParserPlugins": ["typescript", "decorators", "jsx"]
}
